{% extends 'base_layout.html' %}
{% load static %}


{% block content %}
<head>
  <meta charset="utf-8">
  <title>Basket</title>
  <link rel="stylesheet" href="{% static 'basket/basket-page.css' %}">
</head>
{% if empty %}

<h2>{{ empty_message }}</h2>

{% else %}

<div class="heading-basket">
  <h1>Your Basket</h1>
</div>

<div class="col-sm-8 col-sm-offset-2">


<table class="table">
  <tr>
    <th>Product</th>
    <th>Product Name</th>
    <th><span class="tesco-hdr"><img src="{% static 'basket/img.png'%}" width="180" height="50" alt="Amazon Logo"></span></th>
    <th><span class="sainsburys-hdr"><img src="{% static 'basket/img_1.png'%}" width="180" height="80"alt="FlipKart Logo"></span></th>
    <th><span class="morrisons-hdr"><img src="{% static 'basket/img_2.png'%}" width="180" height="80"alt="JioMart Logo"></span></th>
    <th>Quantity</th>
    <th></th>
  </tr>
  {% for item in basket.basketitem_set.all %}

  <tr>
    <td width="102"><img src="{{item.product.thumbnail.url}}" class="basket-thumbnails" width="100" height="100" ></td>
    <td>{{item.product.name}}</td>
    <td>Rs{{item.product.price_tesco}}</td>
    <td>Rs{{item.product.price_sainsburys}}</td>
    <td>Rs{{item.product.price_morrisons}}</td>
    <td>{{item.quantity}}</td>
    <td><a href="{% url 'basket:update' item.product.slug %}?quantity=0" class="remove-from-basket">Remove</a></td>
  </tr>
  {% endfor %}
  <tfoot>
    <td>Totals</td>
    <td></td>
    <td>Rs{{basket.total_tesco}}</td>
    <td>Rs{{basket.total_sainsburys}}</td>
    <td>Rs{{basket.total_morrisons}}</td>
    <td></td>
    <td>

    </td>
  </tfoot>
</table>

</div>
{% endif %}

{% endblock %}
